.root {
    -fx-font-family: "Segoe UI";
    /*-fx-background-color: #f4f6f9;*/
    -fx-background-color: linear-gradient(to bottom, #0f172a, #1e293b);
}

/* Texte général */
.label {
    -fx-text-fill: #e2e8f0;
}

/* TITRES */
.section-title {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}

/* CARDS */
.card-form {
    -fx-background-color: #1e293b;
    -fx-background-radius: 20;
    -fx-padding: 25;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.6), 25, 0.4, 0, 8);
}
/*.card-form,*/
.card-search,
.card-bottom {
    -fx-background-color: white;
    -fx-background-radius: 15;
    -fx-border-radius: 15;
    -fx-border-color: #e5e7eb;
    -fx-border-width: 1;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.08), 10, 0.2, 0, 3);
}



/* INPUTS */
.text-field,
.combo-box {
    -fx-background-radius: 8;
    -fx-border-radius: 8;
    -fx-border-color: #d1d5db;
}

/* BOUTONS */
.button {
    -fx-background-radius: 20;
    -fx-padding: 8 20;
    -fx-cursor: hand;
}
/* Ancien Style*/
/*
.btn-primary {
    -fx-background-color: #4f46e5;
    -fx-text-fill: white;
}

.btn-primary:hover {
    -fx-background-color: #4338ca;
}

.btn-danger {
    -fx-background-color: #ef4444;
    -fx-text-fill: white;
}

.btn-danger:hover {
    -fx-background-color: #dc2626;
}

/* TABLE */
/*
.table-view {
    -fx-background-color: white;
    -fx-background-radius: 15;
}
*/
/* PROGRESS */
/*
.progress-bar {
    -fx-background-radius: 8;
}

.progress-bar > .bar {
    -fx-background-radius: 8;
}

*/
/* toast */
.toast {
    -fx-background-color: #22c55e;
    -fx-text-fill: white;
    -fx-padding: 12 20;
    -fx-background-radius: 30;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.6), 20, 0.4, 0, 6);
}
/*.toast {*/
/*    -fx-background-color: #22c55e;*/
/*    -fx-text-fill: white;*/
/*    -fx-padding: 10 20;*/
/*    -fx-background-radius: 20;*/
/*    -fx-font-weight: bold;*/
/*    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 10, 0.4, 0, 4);*/
/*}*/
/*style cinema*/
/* Bouton principal (Ajouter) */
.btn-add {
    -fx-background-color: linear-gradient(to right, #f59e0b, #f97316);
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 25;
    -fx-padding: 10 20;
}

/* Bouton Modifier */
.btn-edit {
    -fx-background-color: linear-gradient(to right, #3b82f6, #2563eb);
    -fx-text-fill: white;
    -fx-background-radius: 25;
    -fx-padding: 10 20;
}

/* Bouton Supprimer */
.btn-delete {
    -fx-background-color: linear-gradient(to right, #ef4444, #b91c1c);
    -fx-text-fill: white;
    -fx-background-radius: 25;
    -fx-padding: 10 20;
}
/*tableview*/
.table-view {
    -fx-background-color: #1e293b;
    -fx-control-inner-background: #0f172a;
    -fx-text-fill: #e2e8f0;
    -fx-background-radius: 15;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.6), 20, 0.4, 0, 6);
}

.table-row-cell {
    -fx-background-color: #0f172a;
}

.table-row-cell:selected {
    -fx-background-color: #334155;
}
/*table header*/
.table-view .column-header-background {
    -fx-background-color: #1e293b;
}

.table-view .column-header,
.table-view .filler {
    -fx-background-color: #1e293b;
}

.table-view .column-header .label {
    -fx-text-fill: #f59e0b;
    -fx-font-weight: bold;
}
.app-header {
    -fx-background-color: #0f172a;
    -fx-padding: 20 40;
}

.app-title {
    -fx-text-fill: #f59e0b;
    -fx-font-size: 24px;
    -fx-font-weight: bold;
}
/*progress bar*/
.progress-bar {
    -fx-accent: #f59e0b;
}

.check-box {
    -fx-text-fill: #e2e8f0;
}

.check-box .box {
    -fx-background-color: #1e293b;
    -fx-border-color: #f59e0b;
}

.check-box:selected .mark {
    -fx-background-color: #f59e0b;
}
.stats-label {
    -fx-text-fill: #0f172a;
    -fx-font-weight: bold;
}
.separator {
    -fx-background-color: #334155;
}
.card-table {
    -fx-background-color: #0f172a;
    -fx-background-radius: 20;
    -fx-padding: 20;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.4), 25, 0.3, 0, 8);
}

.section-title {
    -fx-text-fill: #f59e0b;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}